<tr id=  <%= comment.id %> >
      <td>
        <%= comment.message%>
      </td>
      <td>
        <%= comment.created_at%>
      </td>
      <td>
        <%= link_to "X", tweet_comment_path(@tweet,comment),:remote => true, :method => :delete %>
      </td>
    </tr>
